# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Environment variables
.env

# Build output
dist/
build/
out/

# Dependency directories
bin/
lib/
typings/

# Testing
coverage/

# Miscellaneous
.DS_Store
Thumbs.db
