{{ template "ep_add.tmpl" . }},
{{ template "ep_auth.tmpl" . }},
{{ template "ep_div.tmpl" . }},
{{ template "ep_fakedata.tmpl" . }},
{{ template "ep_functions.tmpl" . }},
{{ template "ep_mul.tmpl" . }},
{{ template "ep_sub.tmpl" . }}
