{
    "endpoint": "/addition/{num1}/{num2}",
    "backend": [
        {
            "url_pattern": "/add/{num1}/{num2}",
            "host": [
                "addition:3001"
            ]
        }
    ]
}