{
  "endpoint": "/auth/register",
  "output_encoding": "no-op",
  "method": "POST",
  "backend": [
      {
          "url_pattern": "/register",
          "host": [
              "auth:3000"
          ],
          "method": "POST"
      }
  ]
},
{
  "endpoint": "/auth/login",
  "method": "POST",
  "backend": [
      {
          "url_pattern": "/login",
          "host": [
              "auth:3000"
          ],
          "method": "POST",
          "extra_config": {
              "backend/http": {
                  "return_error_code": true
              }
          }
      }
  ],
  "extra_config": {
      "auth/signer": {
          "alg": "HS256",
          "jwk_local_path": "/etc/krakend/jwk.json",
          "keys_to_sign": [
              "access_token",
              "refresh_token"
          ],
          "kid": "sim2",
          "disable_jwk_security": true
      }
  }
},
{
  "endpoint": "/auth/verify",
  "input_headers": [
      "Authorization"
  ],
  "output_encoding": "no-op",
  "backend": [
      {
          "url_pattern": "/verify",
          "host": [
              "auth:3000"
          ]
      }
  ]
}