{
    "endpoint": "/division/{num1}/{num2}",
    "backend": [
        {
            "url_pattern": "/divide/{num1}/{num2}",
            "host": [
                "division:3004"
            ]
        }
    ]
}