{
    "endpoint": "/multiplication/{num1}/{num2}",
    "backend": [
        {
            "url_pattern": "/multiply/{num1}/{num2}",
            "host": [
                "multiplication:3003"
            ]
        }
    ]
}