{
    "endpoint": "/subtraction/{num1}/{num2}",
    "backend": [
        {
            "url_pattern": "/subtract/{num1}/{num2}",
            "host": [
                "subtraction:3002"
            ]
        }
    ]
}